<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Login.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div style="--src:url(/assets/dc9789f1a18f2ae4408b4e617203cace.png)" class="login root">
      <div class="flexRow">
        <div class="content_box1">
          <div class="flexCol">
            <div class="flexCol1">
              <h1 class="hero_title">Мы вас ждали!</h1>
              <h5 class="highlights">Войдите, чтобы продолжить</h5>
            </div>
            <div class="cell">
              <img src="/assets/21b6546c48faf1280f5b50ba6c804079.png" alt="alt text" class="image1" />
            </div>
            <div class="flexRow1">
              <div class="rect1"></div>
              <div class="spacer"></div>
              <h5 class="highlights1">Запомни меня</h5>
              <div class="spacer1"></div>
              <h5 class="highlights11">Забыли пароль?</h5>
            </div>
            <div class="content_box"><h2 class="medium_title">Войти</h2></div>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="group">
          <h3 class="subtitle">
            “Для меня жизнь — это постоянное чувство голода. Жить — значит не просто существовать или выживать, но
            двигаться вперед, расти, достигать и побеждать.”<br />
            <br />
            — Арнольд Шварценеггер
          </h3>
        </div>
        <div class="spacer1"></div>
        <div class="flexRow2">
          <div class="cell"><img src="/assets/9bab1c8c6e33c22c1770c5f8c4120e44.png" alt="alt text" class="icon" /></div>
          <h3 class="subtitle1_box">
            <span class="subtitle1"
              ><span class="subtitle1_span0">ФК</span><span class="subtitle1_span1">и</span
              ><span class="subtitle1_span2">С</span></span
            >
          </h3>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
