<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Profile.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.01.0.js"></script>
  </head>

  <body class="flex-column">
    <div class="profile root">
      <div class="group">
        <div class="group1">
          <div class="group2">
            <img src="/assets/9bab1c8c6e33c22c1770c5f8c4120e44.png" alt="alt text" class="icon" />
            <h3 class="subtitle_box">
              <span class="subtitle"
                ><span class="subtitle_span0">ФК</span><span class="subtitle_span1">и</span
                ><span class="subtitle_span2">С</span></span
              >
            </h3>
          </div>
          <div class="group3">
            <h4 class="highlights">Календарь</h4>
            <h4 class="highlights1">Запись</h4>
            <h4 class="highlights11">Профиль</h4>
            <h4 class="highlights2">Главная</h4>
          </div>
          <div class="group4">
            <img src="/assets/d0f7a66576cef30f05d4992e1b1c49db.png" alt="alt text" class="decorator" /><img
              src="/assets/5af37948626dfa9dadeff6f9d8ee2e95.png"
              alt="alt text"
              class="decorator1"
            />
            <div class="rect2"></div>
            <h4 class="highlights4">131.</h4>
            <div class="rect4"></div>
            <h4 class="highlights41">132.</h4>
            <div class="flexRow">
              <div class="cell">
                <div class="flexRow">
                  <div class="content_box">
                    <div class="flexCol">
                      <div class="cell">
                        <img src="/assets/b94ecdb0b9b50cd5f9ee1d602b9341fc.png" alt="alt text" class="icon1" />
                      </div>
                      <h3 class="subtitle1">Ф.И.О</h3>
                      <h3 class="subtitle2">Группа</h3>
                      <h3 class="subtitle3">Почта</h3>
                      <h3 class="subtitle11">Выйти</h3>
                    </div>
                  </div>
                  <div class="spacer"></div>
                  <div class="cell1">
                    <img src="/assets/7efaca810e93f3df536143bf9d018211.png" alt="alt text" class="image6" />
                  </div>
                  <div class="cell2">
                    <img src="/assets/80c7145d84c9ace4db069db5207b9b1d.png" alt="alt text" class="image5" />
                  </div>
                </div>
              </div>
              <div class="cell3"><div class="rect6"></div></div>
              <div class="cell4"><hr size="1" class="line4" /></div>
              <div class="cell5">
                <img src="/assets/c62cdd399a1259123089028be582859b.png" alt="alt text" class="icon8" />
              </div>
              <div class="cell6"><div class="info2">100</div></div>
              <div class="cell7"><div class="info21">25</div></div>
              <div class="cell8"><div class="info22">50</div></div>
              <div class="cell9"><div class="info23">75</div></div>
              <div class="cell10"><div class="info24">0</div></div>
              <div class="cell11"><h4 class="highlights10">Мой</h4></div>
              <div class="cell12"><div class="rect9"></div></div>
              <div class="cell13"><div class="rect91"></div></div>
              <div class="cell14"><div class="rect92"></div></div>
              <div class="cell15"><div class="rect93"></div></div>
              <div class="cell16"><div class="rect94"></div></div>
              <div class="cell17"><div class="info25">0</div></div>
              <div class="cell18"><hr size="1" class="line3" /></div>
              <div class="cell19"><div class="rect7"></div></div>
              <div class="cell20"><div class="rect8"></div></div>
              <div class="spacer1"></div>
              <div class="cell21">
                <img src="/assets/276c567e722d56abb75028d05a8754c2.png" alt="alt text" class="icon7" />
              </div>
              <div class="spacer2"></div>
              <div class="cell22"><h4 class="highlights101">Общий</h4></div>
              <div class="cell23"><div class="info25">1</div></div>
              <div class="cell24"><div class="rect7"></div></div>
              <div class="spacer3"></div>
              <div class="cell25"><h3 class="subtitle5">Рейтинг</h3></div>
              <div class="cell26"><div class="info25">2</div></div>
              <div class="cell27"><div class="rect7"></div></div>
              <div class="spacer4"></div>
              <div class="cell28"><div class="info25">3</div></div>
              <div class="cell29"><div class="rect7"></div></div>
              <div class="spacer4"></div>
              <div class="cell30"><div class="info25">4</div></div>
              <div class="cell31"><div class="rect7"></div></div>
              <div class="spacer4"></div>
              <div class="cell32"><div class="info25">5</div></div>
              <div class="cell33"><div class="rect7"></div></div>
            </div>
          </div>
        </div>
        <div class="group5">
          <div class="content_box1">
            <div class="group6">
              <h4 class="highlights21">Посящения</h4>
              <hr size="1" class="line" />
              <h4 class="highlights3">Баскетбол</h4>
              <px-grid x="555fr 7px 8fr" y="74px minmax(0px, max-content) 306px" absolute="true"
                ><img class="image" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text"
              /></px-grid>
              <h4 class="highlights42">6.</h4>
              <h4 class="highlights31">3.12.2022</h4>
              <h4 class="highlights5">Баскетбол</h4>
              <px-grid x="555fr 7px 8fr" y="134px minmax(0px, max-content) 246px" absolute="true"
                ><img class="image" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text"
              /></px-grid>
              <h4 class="highlights43">5.</h4>
              <h4 class="highlights51">29.11.2022</h4>
              <h4 class="highlights6">Волейбол</h4>
              <px-grid x="555fr 7px 8fr" y="194px minmax(0px, max-content) 186px" absolute="true"
                ><img class="image" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text"
              /></px-grid>
              <h4 class="highlights44">4.</h4>
              <h4 class="highlights61">28.11.2022</h4>
              <h4 class="highlights62">Волейбол</h4>
              <px-grid x="555fr 7px 8fr" y="254px minmax(0px, max-content) 126px" absolute="true"
                ><img class="image" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text"
              /></px-grid>
              <h4 class="highlights45">3.</h4>
              <h4 class="highlights63">20.11.2022</h4>
              <h4 class="highlights64">Волейбол</h4>
              <px-grid x="555fr 7px 8fr" y="314px minmax(0px, max-content) 66px" absolute="true"
                ><img class="image" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text"
              /></px-grid>
              <h4 class="highlights46">2.</h4>
              <h4 class="highlights65">14.11.2022</h4>
              <h4 class="highlights52">Баскетбол</h4>
              <px-grid x="555fr 7px 8fr" y="374px minmax(0px, max-content) 6px" absolute="true"
                ><img class="image" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text"
              /></px-grid>
              <h4 class="highlights47">1.</h4>
              <h4 class="highlights53">14.11.2022</h4>
            </div>
          </div>
          <div class="group7">
            <h3 class="subtitle4">Таблица лидеров</h3>
            <img src="/assets/5f6b4b2cae2f88e54274396e5954f4b1.png" alt="alt text" class="icon2" /><px-grid
              x="130fr 76px 454fr"
              y="106px minmax(0px, max-content) 218px"
              absolute="true"
              ><img class="icon3" src="/assets/2512e6d3e9ef595a23fa361caef84617.png" alt="alt text" /></px-grid
            ><px-grid x="450fr 60px 150fr" y="122px minmax(0px, max-content) 218px" absolute="true"
              ><img class="icon4" src="/assets/7c4c27a54df65e035b821f4e44b8e053.png" alt="alt text"
            /></px-grid>
            <hr size="1" class="line1" />
            <px-grid x="116fr 104px 440fr" y="113px minmax(0px, max-content) 212px" absolute="true"
              ><img class="image1" src="/assets/22e2d9706f6591133221a0fd36c57dc1.png" alt="alt text" /></px-grid
            ><px-grid x="498fr 13px 149fr" y="167px minmax(0px, max-content) 215px" absolute="true"
              ><img class="image2" src="/assets/fdc7780c3e8c1e57013376837177b708.png" alt="alt text"
            /></px-grid>
            <h5 class="highlights7">Ф.И.О</h5>
            <h5 class="highlights71">Ф.И.О</h5>
            <h5 class="highlights72">Ф.И.О</h5>
            <div class="info">Кол-во занятий</div>
            <div class="info1">Кол-во занятий</div>
            <div class="info3">Кол-во занятий</div>
            <img src="/assets/853dbf68c3d0b76a1fc60b96d2d96db7.png" alt="alt text" class="image3" />
            <h4 class="highlights8">Ф.И.О</h4>
            <div class="info11">Кол-во занятий</div>
            <h4 class="highlights81">Ф.И.О</h4>
            <div class="info12">Кол-во занятий</div>
          </div>
          <div class="group8">
            <h4 class="highlights22">Справка</h4>
            <hr size="1" class="line2" />
            <img src="/assets/07ed7b0c37de2c3e89923634e03ea2c1.png" alt="alt text" class="image4" /><px-grid
              x="54fr 30px 356fr"
              y="398px minmax(0px, max-content) 66px"
              absolute="true"
              ><img class="icon5" src="/assets/84ffeda0604e24c4b5ccfe3d0dba5ff5.png" alt="alt text" /></px-grid
            ><px-grid x="58fr 22px 360fr" y="452px minmax(0px, max-content) 20px" absolute="true"
              ><img class="icon6" src="/assets/e3c57c4f6218aed9c4c1b9c036a2603d.png" alt="alt text"
            /></px-grid>
            <h4 class="highlights9">Добавить</h4>
            <h4 class="highlights91">Удалить</h4>
          </div>
          <div class="group9">
            <h4 class="highlights23">Любимое занятие</h4>
            <h4 class="highlights92">Баскетбол</h4>
            <hr size="1" class="line5" />
          </div>
          <div class="group10">
            <h4 class="highlights24">Подтверждение занятий</h4>
            <hr size="1" class="line21" />
            <h4 class="highlights82">Баскетбол</h4>
            <div class="text">Ожидание подтверждения</div>
            <div class="text1">Статус:</div>
            <div class="text11">3 декабря, Суббота, начало в 13:45<br /></div>
            <p class="text12">Г. Таганрог, пер. Некрасовский, 44, УЛК «Д», 2022 год, 1 семестр.<br /></p>
            <div class="rect13"></div>
            <h4 class="highlights111">Подтвердить</h4>
          </div>
          <img src="/assets/3d8c8a923b1918ff8a58e90a6b05e238.png" alt="alt text" class="image7" />
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
