@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(165, 179, 191);
$color_type_2: rgb(200, 204, 206);
$color_type_3: rgb(243, 250, 255);
$color_type_4: rgb(255, 255, 255);
$color_type_5: rgb(28, 28, 28);
$color_type_6: rgb(34, 62, 76);
$color_type_7: rgb(38, 160, 218);
$color_type_8: rgba(255, 255, 255, 0.498);

$border_radius_type_0: 10px 10px 0px 0px;
$border_radius_type_1: 10px 10px 10px 10px;
$border_radius_type_2: 12px 12px 12px 12px;
$border_radius_type_3: 8px 8px 8px 8px;

$font_type_0: 500 22px/1.25 "Montserrat", Helvetica, Arial, serif;
$font_type_1: 500 20px/1.2 "Montserrat", Helvetica, Arial, serif;
$font_type_2: 500 18px/1.25 "Montserrat", Helvetica, Arial, serif;
$font_type_3: 700 18px/1.25 "Montserrat", Helvetica, Arial, serif;
$font_type_4: 400 18px/1.22 "Montserrat", Helvetica, Arial, serif;
$font_type_5: 500 18px/1.22 "Montserrat", Helvetica, Arial, serif;
$font_type_6: 400 16px/1.25 "Montserrat", Helvetica, Arial, serif;
$font_type_7: 400 16px/1.2 "Century Gothic", Helvetica, Arial, serif;
$font_type_8: 500 14px/1.25 "Montserrat", Helvetica, Arial, serif;
$font_type_9: 400 14px/1.2 "Century Gothic", Helvetica, Arial, serif;
$font_type_10: 500 1em/1.2 "Montserrat", Helvetica, Arial, serif;

.root {
  @include flex-column;
  background-color: $color_type_3;
  position: relative;
  overflow: hidden;
}
.decorator1 {
  width: calc(100% - 116px);
  height: auto;
  aspect-ratio: 0.85;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  bottom: -733px;
  left: -522px;
  right: 638px;
}
.decorator {
  width: calc(100% - -80px);
  height: auto;
  aspect-ratio: 1.78;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  bottom: -45px;
  left: 0px;
  right: -80px;
}
.group {
  @include flex-column;
  width: 94.79%;
  position: relative;
  flex-grow: 1;
  min-height: 1060px;
  margin: 20px 2.08% 0px 3.13%;
}
.group1 {
  @include flex-column;
  width: 5.55%;
  position: absolute;
  top: 0px;
  bottom: 1030px;
  min-height: 30px;
  left: 0px;
  right: 0px;
  margin: 0px 94.45% 0px 0%;
}
.icon {
  width: 30px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-width: 30px;
  margin: 0px auto 0px 0px;
}
.subtitle_box {
  @include lg {
    align-items: flex-start;
    justify-content: flex-start;
    left: 32px;
  }
  @include md {
    left: 28px;
  }
  @include sm {
    left: 24px;
  }
  @include xs {
    left: 20px;
  }
  @include xxs {
    left: 16px;
  }
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 40px;
  right: 0px;
}
.subtitle {
  @include font-face($font_type_1, $color_type_0, 0px);
  @include lg {
    font-size: 16px;
    text-align: left;
  }
}
.subtitle_span0 {
  font: $font_type_10;
  color: $color_type_5;
  font-style: normal;
  letter-spacing: 0px;
}
.subtitle_span1 {
  font: $font_type_10;
  color: $color_type_7;
  font-style: normal;
  letter-spacing: 0px;
}
.subtitle_span2 {
  font: $font_type_10;
  color: $color_type_5;
  font-style: normal;
  letter-spacing: 0px;
}
.group2 {
  @include flex-column;
  width: 26.48%;
  position: absolute;
  top: 4px;
  bottom: 1034px;
  min-height: 22px;
  left: 0px;
  right: 0px;
  margin: 0px 4.67% 0px 68.85%;
}
.highlights {
  @include sm {
    font-size: 12px;
    text-align: left;
  }
  @include font-face($font_type_4, $color_type_5, 0px);
  width: 21.37%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px 52.9% 0px 25.73%;
}
.highlights1 {
  @include sm {
    font-size: 12px;
    text-align: left;
  }
  @include font-face($font_type_5, $color_type_5, 0px);
  width: 14.11%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px 28.42% 0px 57.47%;
}
.highlights2 {
  @include sm {
    font-size: 12px;
    text-align: left;
  }
  @include font-face($font_type_4, $color_type_5, 0px);
  width: 18.05%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px 0% 0px 81.95%;
}
.highlights3 {
  @include sm {
    font-size: 12px;
    text-align: left;
  }
  @include font-face($font_type_4, $color_type_5, 0px);
  width: 15.35%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px 84.65% 0px 0%;
}
.group3 {
  @include flex-column;
  width: 4.4%;
  position: absolute;
  top: 520px;
  bottom: 40px;
  left: 0px;
  right: 0px;
  margin: 0px 0% 0px 95.6%;
}
.image {
  width: 100%;
  height: auto;
  aspect-ratio: 0.16;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.group4 {
  @include flex-column;
  background-color: $color_type_8;
  border-radius: $border_radius_type_0;
  width: 39.56%;
  position: absolute;
  top: 134px;
  bottom: 0px;
  min-height: 926px;
  left: 0px;
  right: 0px;
  margin: 0px 50.55% 0px 9.89%;
}
.line {
  @include sm {
    width: 89.21%;
  }
  @include xs {
    width: 91.69%;
  }
  @include xxs {
    width: 93.63%;
  }
  @include tn {
    width: 95.15%;
  }
  background-color: $color_type_1;
  width: 86.11%;
  height: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 54px auto 871px;
}
.line1 {
  @include sm {
    width: 89.21%;
  }
  @include xs {
    width: 91.69%;
  }
  @include xxs {
    width: 93.63%;
  }
  @include tn {
    width: 95.15%;
  }
  background-color: $color_type_1;
  width: 86.11%;
  height: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 440px auto 485px;
}
.subtitle1 {
  @include md {
    font-size: 16px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 30%;
  position: absolute;
  top: 16px;
  bottom: 882px;
  left: 0px;
  right: 0px;
  margin: 0px 61.67% 0px 8.33%;
}
.highlights21 {
  @include sm {
    font-size: 12px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_2;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 16.94%;
  position: absolute;
  top: 82px;
  bottom: 821px;
  left: 0px;
  right: 0px;
  margin: 0px 73.89% 0px 9.17%;
}
.image1 {
  width: 100%;
  height: 100%;
  aspect-ratio: 0.58;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
}
.highlights22 {
  @include sm {
    font-size: 12px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_2;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 17.64%;
  position: absolute;
  top: 143px;
  bottom: 760px;
  left: 0px;
  right: 0px;
  margin: 0px 73.19% 0px 9.17%;
}
.highlights23 {
  @include sm {
    font-size: 12px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_type_2;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 15.56%;
  position: absolute;
  top: 202px;
  bottom: 701px;
  left: 0px;
  right: 0px;
  margin: 0px 75.28% 0px 9.17%;
}
.highlights31 {
  @include sm {
    font-size: 12px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_3, $color_type_5, 0px);
  width: 14.31%;
  position: absolute;
  top: 511px;
  bottom: 392px;
  left: 0px;
  right: 0px;
  margin: 0px 58.47% 0px 27.22%;
}
.highlights4 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  @include font-face($font_type_7, $color_type_5, 0px);
  width: 27.22%;
  position: absolute;
  top: 565px;
  bottom: 312px;
  min-height: 49px;
  left: 0px;
  right: 0px;
  margin: 0px 56.11% 0px 16.67%;
}
.highlights41 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  @include font-face($font_type_7, $color_type_5, 0px);
  width: 37.36%;
  position: absolute;
  top: 644px;
  bottom: 224px;
  left: 0px;
  right: 0px;
  margin: 0px 45.97% 0px 16.67%;
}
.text {
  @include font-face($font_type_9, $color_type_2, 0px);
  width: 4.17%;
  position: absolute;
  top: 643px;
  bottom: 266px;
  left: 0px;
  right: 0px;
  margin: 0px 87.5% 0px 8.33%;
}
.subtitle11 {
  @include md {
    font-size: 16px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_0, $color_type_0, 0px);
  width: 21.53%;
  position: absolute;
  top: 456px;
  bottom: 442px;
  left: 0px;
  right: 0px;
  margin: 0px 70.14% 0px 8.33%;
}
.text1 {
  @include v-center-content;
  @include font-face($font_type_8, $color_type_2, 0px);
  width: 13.61%;
  position: absolute;
  top: 514px;
  bottom: 394px;
  left: 0px;
  right: 0px;
  margin: 0px 78.06% 0px 8.33%;
}
.text2 {
  @include font-face($font_type_9, $color_type_2, 0px);
  width: 5.42%;
  position: absolute;
  top: 565px;
  bottom: 344px;
  left: 0px;
  right: 0px;
  margin: 0px 86.25% 0px 8.33%;
}
.rect4 {
  background-color: $color_type_8;
  border-radius: $border_radius_type_1;
  width: 27.78%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.247);
  position: absolute;
  top: 510px;
  bottom: 176px;
  min-height: 240px;
  left: 0px;
  right: 0px;
  margin: 0px 8.33% 0px 63.89%;
}
.image2 {
  border-radius: $border_radius_type_3;
  width: 22.22%;
  height: auto;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.247));
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 530px;
  bottom: 236px;
  left: 0px;
  right: 0px;
  margin: 0px 11.11% 0px 66.67%;
}
.rect3 {
  background-color: $color_type_6;
  border-radius: $border_radius_type_2;
  width: 13.85%;
  position: absolute;
  top: 980px;
  bottom: 40px;
  min-height: 40px;
  left: 0px;
  right: 0px;
  margin: 0px 63.41% 0px 22.75%;
}
.highlights5 {
  @include sm {
    font-size: 12px;
    text-align: left;
  }
  @include font-face($font_type_4, $color_type_4, 0px);
  width: 6.81%;
  position: absolute;
  top: 989px;
  bottom: 49px;
  left: 0px;
  right: 0px;
  margin: 0px 66.92% 0px 26.26%;
}
.highlights6 {
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  display: flex;
  align-items: center;
  @include font-face($font_type_6, $color_type_0, 0px);
  width: 4.01%;
  position: absolute;
  top: 844px;
  bottom: 196px;
  left: 0px;
  right: 0px;
  margin: 0px 58.08% 0px 37.91%;
}
.icon1 {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
}
