<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Record.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.01.0.js"></script>
  </head>

  <body class="flex-column">
    <div class="record root">
      <img src="/assets/9d913739b2da283e0b53c92ce29c6b65.png" alt="alt text" class="decorator1" /><img
        src="/assets/d0f7a66576cef30f05d4992e1b1c49db.png"
        alt="alt text"
        class="decorator"
      />
      <div class="group">
        <div class="group1">
          <img src="/assets/9bab1c8c6e33c22c1770c5f8c4120e44.png" alt="alt text" class="icon" />
          <h3 class="subtitle_box">
            <span class="subtitle"
              ><span class="subtitle_span0">ФК</span><span class="subtitle_span1">и</span
              ><span class="subtitle_span2">С</span></span
            >
          </h3>
        </div>
        <div class="group2">
          <h4 class="highlights">Календарь</h4>
          <h4 class="highlights1">Запись</h4>
          <h4 class="highlights2">Профиль</h4>
          <h4 class="highlights3">Главная</h4>
        </div>
        <div class="group3">
          <img src="/assets/aa7cad5e37592328a55d4dee04fe2e75.png" alt="alt text" class="image" />
        </div>
        <div class="group4">
          <hr size="1" class="line" />
          <hr size="1" class="line1" />
          <h3 class="subtitle1">Запись на занятия</h3>
          <h4 class="highlights21">Дисциплина</h4>
          <px-grid x="639fr 7px 74fr" y="88px minmax(0px, max-content) 826px" absolute="true"
            ><img class="image1" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text" /></px-grid
          ><px-grid x="639fr 7px 74fr" y="148px minmax(0px, max-content) 766px" absolute="true"
            ><img class="image1" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text"
          /></px-grid>
          <h4 class="highlights22">Дата и время</h4>
          <px-grid x="639fr 7px 74fr" y="208px minmax(0px, max-content) 706px" absolute="true"
            ><img class="image1" src="/assets/2c2f63dde71147802a9b1996f19f865f.png" alt="alt text"
          /></px-grid>
          <h4 class="highlights23">Выбор зала</h4>
          <h4 class="highlights31">Баскетбол</h4>
          <h5 class="highlights4">3 декабря, Суббота, начало в 13:45<br /></h5>
          <h5 class="highlights41">УЛК «Д», Спортивный зал №3 , <br />г. Таганрог, пер. Некрасовский, 44<br /></h5>
          <div class="text">Зал:</div>
          <h3 class="subtitle11">Ваша запись:</h3>
          <div class="text1">Дисциплина:</div>
          <div class="text2">Дата:</div>
          <div class="rect4"></div>
          <img src="/assets/48d18e89e2abd8ba5fc4ffc2e0adff79.png" alt="alt text" class="image2" />
        </div>
        <div class="rect3"></div>
        <h4 class="highlights5">Подтвердить</h4>
        <h5 class="highlights6">На карте</h5>
        <px-grid x="772fr 18px 1030fr" y="846px minmax(0px, max-content) 196px" absolute="true"
          ><img class="icon1" src="/assets/811ceb4f43c5744e112633d8c12050dc.png" alt="alt text"
        /></px-grid>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
